* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	padding: 0;
	margin: 0;
	
	min-height: 100%;
	width: 100%;

	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 48px;
	
	min-height: 100%;
	min-width: 100%;

	background: #444444; /* Old browsers */
	background: -moz-radial-gradient(top center, circle closest-corner, #555, #3d3d3d); /* FF3.6+ */
	background: -webkit-gradient(radial, top center, 0px, bottom center, 400px, color-stop(0,#555), color-stop(400px,#3d3d3d)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(top center, circle closest-corner, #555, #3d3d3d); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(top center, circle closest-corner, #555, #3d3d3d); /* Opera 12+ */
	background: radial-gradient(top center, circle closest-corner, #555, #3d3d3d); /* W3C */
	background-repeat: no-repeat;
	font-family: 'Gentium Book Basic', Georgia, Times, serif;
	color: #eee;
}

#container {
	position: relative;
	width: 990px;
	margin: 0 auto;
}

aside {
	position: absolute;
	top: 7px;
	right: 0;

	width: 270px;
	height: 32px;
	line-height: 32px;
}

label {
	font-style: italic;
	margin-right: 24px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #eee;

	position: relative;
	top: -3px;
}

input {
	font-family: inherit;

	border: none;
	border-radius: 3px;

	margin: 6px 0;
	padding: 4px 3px 2px;
	height: 24px;
	line-height: 18px;

	background: #222;
	color: #eee;
	
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2),
							0 1px 1px rgba(255,255,255,.2), 0 -1px 1px rgba(0,0,0,.8);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

input:hover {
	background: #2b2b2b;
}

input:focus {
	background: #2b2b2b;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2),
							0 1px 1px rgba(255,255,255,.2), 0 -1px 1px rgba(0,0,0,.8);

	border: none;
	outline: none;
}

#submit {
	position: relative;
	top: 1px;
	height: 24px;
	width: 32px;
	font-style: italic;
	text-align: center;
}

h1 {
	font-family: 'Open Sans', Arial, Verdana, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;

	color: #eee;

	margin: 12px 0;
	padding: 0;
	padding-right: 294px;

	/*text-shadow: 0 -2px 0 rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.2);*/
	text-shadow: 0 3px 0 rgba(0,0,0,.3), 
							 0 6px 0 rgba(0,0,0,.15);
}

#keywords {
	color: #ccc;
}

#photos {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	
	text-align: center;

	/* mini clearfix 
	overflow: auto;*/
}

#photos li {
	margin: 0;
	padding: 0;
	display: inline-block;
 
	position: relative; /* used for the details */
	
	text-align: center;
	vertical-align: middle;

	width: 174px;
	margin: 12px;
}

#photos img {
	border: 12px solid rgba(0,0,0,.2);
	opacity: 0;
	
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#photos img.loaded {
	opacity: 0.75;

	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

#photos img:hover {
	border: 12px solid rgba(0,0,0,.4);
	opacity: 1;
}

.animate {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.fast {
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);

	text-align: center;
	vertical-align: middle;

	padding: 24px;

	top: 0;
	left: 0;

	overflow: hidden;

	cursor: pointer;
	z-index: 100;
}

#overlay img {
	max-width: 100%;
	max-height: 100%;

	border: 12px solid #fff;

	box-shadow: 0 3px 20px 8px rgba(0,0,0,.7);
}

.detail {
	position: absolute;

	top: -12px;
	left: 50%;

	margin-left: -99px;
	padding: 24px 24px 0 24px;

	width: 198px;
	background: #eee;

	z-index: 99;

	color: #333;
	text-align: center;
}

.detail img {
	position: relative;
	border: 12px solid rgba(0,0,0,.8) !important;

	top: -12px;
	left: -12px;
	
	opacity: .8;
}

.detail h2 {
	font-size: 21px;
	line-height: 18px;
	font-weight: normal;
	font-style: italic;

	border-top: 3px double #ccc;
	margin-top: -3px;
	padding-top: 12px;
}

.detail h2::before {
	content: '\201C';
}

.detail h2::after {
	content: '\201D';
}

.detail p {
	font-size: 14px;
}


/*
 * MEDIA QUERIES
 */

/* one list element = 198px */
/* body padding: 48px; */


@media only screen and (min-width: 888px) and (max-width: 1085px) {
	/* 4 pictures */
	#container,	#photos {
		width: 792px;
	}
}

@media only screen and (max-width: 888px) {
	/* 2-3 pics */
	h1 {
		padding-right: 0;
	}

	aside {
		position: relative;
		top: 0;
		margin-bottom: 32px;
	}
}

@media only screen and (min-width: 690px) and (max-width: 888px) {
	/* 3 pics */
	#container, #photos {
		width: 594px;
	}
}

@media only screen and (max-width: 689px) {
	/* 2 pics */
	body {
		padding: 32px 0;
	}

	#container, #photos {
		width: 396px;
	}

	h1 {
		font-size: 24px;
		line-height: 32px;
	}
}
